.gallery {
  width: 1170px;
  display: inline-block;
  margin: 0px 215px;
  &__list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
  }
}
.gallery__label {
  position: relative;
  overflow: hidden;
}
.gallery__overlay {
  background-color: var(--gallery-overlay);
  width: 370px;
  height: 70px;
  position: absolute;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
  justify-content: center;
  align-items: center;
  top: 224px;
}
