$color_1: var(--secondary-titles-color);
$color_2: var(--focus);
$color_3: var(--main-text-color);
$background-color_1: var(--focus);
$color_4: var(--social-icon-bg-footer);
$color_5: var(--focus);

.link,
.link:visited {
  color: $color_1;
  list-style-type: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $color_2;
    cursor: var(--btn-cursor);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
  }
}
.link--highlight-header {
  color: $color_2;
  &:visited {
    color: $color_2;
  }
  &:after {
    position: absolute;
    content: "";
    height: 4px;
    border-radius: 2px;
    background-color: $background-color_1;
    top: 52px;
    left: 0;
    right: 0;
    width: 100%;
    color: $color_2;
  }
}

.link--primary-heading-color {
  color: $color_3;
  white-space: nowrap;
}

.link--footer,
.linl:visited {
  padding-top: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: $color_4;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: $color_5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: $tablet) {
  .link--footer,
  .linl:visited {
    padding-top: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $color_4;
    display: block;
    text-align: center;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: $color_5;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
@media screen and (min-width: $desktop) {
  .link--footer,
  .linl:visited {
    padding-top: 12px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: $color_4;
    display: block;
    text-align: left;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus,
    &:hover {
      color: $color_5;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
